{% extends 'base.html' %}

{% block title %}
    Tizimdan chiqish
{% endblock title %}



{% block content %}
    <form method="post" class="mt-5">
        {% csrf_token %}
        <h4 style="color:white;">Tizimdan chiqishni hohlaysizmi???</h4>
        <p style="color:white;">bu sizning saqlanmagan malumotlaringizni o'chib ketishiga sabab bo'lishi mumkin</p>
        <button style="background-color: red;" type="submit" class="btn btn-primary mt-5">Tizimdan chiqish</button>
    <a class="btn btn-primary mt-5" href="/">Qaytish</a>
    </form>

{% endblock content %}